<form role="form" id="login-form" class="form-signin" method="post" action="/login">
    <label for="playerHandle" class="sr-only">Handle</label>
    <input type="text" id="playerHandle" name="handle" class="form-control" placeholder="Handle" required autofocus>
    <label for="playerPassword" class="sr-only">Password</label>
    <input type="password" id="playerPassword" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-default btn-block" type="submit">Log in</button>
</form>
<p class="text-center" style="margin-top:20px;text-align:center">
    <i class="fa fa-user-plus" aria-hidden="true"></i><a href="/register"> Sign-up</a>
</p>
